
{{#> page}}
  {{#* inline "content"}}
    <h1>Comet is running</h1>
    <p>Congrats! Comet is successfully installed and running!</p>
    <h2>How do I continue?</h2>
    <p>Read our <a href="http://comet-platform.com/tutorial">official tutorial</a> for getting your first app off the ground.</p>
  {{/inline}}
{{/page}}

