
<html>
  <head>
    <title>{{title}}</title>
  </head>

  <body>
    <header>
      <h1>Comet<h1>
      <p class="lead">A platform for writing great JavaScript apps.</p>
    </header>
    {{> content}}
  </body>
</html>

